.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modalHidden {
  display: none;
}

.modalMain {
  position: fixed;
  background: transparent;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

.closeModalBtn {
  background: transparent;
  border: none;
  width: 10px;
  height: 10px;
  position: relative;
  left: -2%;
  top: 5px;
}

.modalText {
  position: absolute;
  top: 90%;
  left: 40%;
  text-align: center;
  background: transparent !important;
  color: #fff !important;
}
