.waiting-list-container {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.waiting-list-wrapper {
    width: 100%;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    object-fit: contain;
}

.waiting-list-item-container {
    margin: 0;
    padding: 0;
    line-height: unset;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0 0 10px;
}

.waiting-list-item-avatar-container {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

.waiting-list-item-container:hover {
    cursor: pointer;
}

.waiting-list-item-container p {
    margin: 0;
    font-weight: 600;
    font-size: 11px;
    margin-right: 11px;
    width: 127px;
}

.waiting-list-item-container span {
    margin-top: 4px;
    font-size: 11px;
    color: #00000066;
    width: 30px;
    font-weight: 600;
    text-align: center;
}

.waiting-list-item-desc {
    display: flex;
    align-items: center;
    width: 100%;
}

.waiting-list-last-message {
    display: flex;
    justify-content: flex-start;
}

.waiting-list-last-message span {
    text-align: left;
    overflow: hidden;
}

.waiting-list-tab-buttons button {
    width: 131px;
    height: 42px;
    background: #fff;
    color: #525252;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    border: none;
    box-shadow: unset;
    border-radius: 4.85px;
}

.waiting-list-tab-buttons span {
    width: 25px;
    height: 22px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 10px;
    padding: 6px;
}

.waiting-list-tab-buttons-active {
    background: #0f63ff !important;
    color: #ffffff !important;
}

.waiting-list-tab-buttons {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 35px;
    display: flex;
}
