@import "../../../styles/colors.scss";

.container {
  margin-left: 40px;
  margin-top: 40px;
  width: 483px;
  height: 452px;
  background-color: wheat;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.waitingTime {
  position: absolute;
  right: 0;
  top: 18px;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 14px;
  color: white;
  font-weight: 700;
  z-index: 10;
}

.companionVideoView {
  height: 122px;
  width: 97px;
  position: absolute;
  background-color: white;
  right: 48px;
  border-radius: 8px;
  z-index: 1;
  top: 18px;
  overflow: hidden;
}

.expandButton {
  border-radius: 38px;
  height: 34px;
  width: 34px;
  left: 23px;
  top: 19px;
  position: absolute;
  z-index: 2;

  background-color: #525252;
}

.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 78px 0 78px;
  right: 0;
  left: 0;
  bottom: 46px;
}

.controlsButton {
  background-color: $white;
  border-radius: 41px;
  height: 36px;
  width: 36px;
  &:hover {
    background-color: #525252;
  }
}

.phoneCall {
  background-color: $warning;
  width: 61px;
  height: 36px;
  border-radius: 41px;
}
