@import "../../../styles/colors.scss";

.container {
  margin-left: 40px;
  margin-top: 40px;
  width: 483px;
  height: 452px;
  background-color: wheat;
  border-radius: 8px;
  position: relative;
}

.companionVideoView {
  height: 122px;
  width: 97px;
  position: absolute;
  background-color: white;
  right: 48px;
  z-index: 1;
  top: 18px;
}

.expandButton {
  border-radius: 38px;
  height: 34px;
  width: 34px;
  left: 23px;
  top: 19px;
  position: absolute;
  z-index: 2;
  background-color: #525252;
}

.micButton {
}

.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 78px 0 78px;
  right: 0;
  left: 0;
  bottom: 46px;
}

.controlsButton {
  background-color: $white;
  border-radius: 41px;
  height: 36px;
  width: 36px;
}

.phoneCall {
  background-color: $warning;
  width: 61px;
  height: 36px;
  border-radius: 41px;
}

// .meeting-source-container {
//   position: relative;
// }

// .meeting-source-container video {
//   z-index: 0;
//   width: 100%;
//   height: 390px;
//   object-fit: cover;
// }

// .controls {
//   position: relative;
//   top: 90%;
//   display: flex;
//   width: 100%;
//   justify-content: space-around;
//   z-index: 3;
// }

// .control-btns button {
//   width: 34.84px;
//   height: 34.84px;
//   background: #ffffff;
//   border-radius: 41.3684px;
//   border: none;
// }

// .control-btns svg {
//   color: #757575;
// }

// #stop-call {
//   width: 60.96px;
//   height: 34.84px;
//   background: #eb6969;
//   color: #ffffff;
//   border-radius: 41.3684px;
// }

// #small-video {
//   z-index: 2;
//   position: absolute;
//   height: 123.93px;
//   width: 97.06px;
//   border-radius: 6.41726px;
//   -webkit-transform: translate3d(0, 0, 0) !important;
// }

// #expand-btn {
//   position: absolute;
//   width: 34.84px;
//   height: 34.84px;
//   left: 22.86px;
//   top: 17.42px;
//   z-index: 3;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #525252;
//   font-size: 17.42px;
//   border-radius: 41.3684px;
// }

// #expand-btn svg {
//   color: #ffffff;
// }

// .small-tile-expand {
//   right: 17px;
//   left: 636.65px;
//   top: 68px;
//   bottom: 343px;
// }

// .tile-move-right {
//   animation-duration: 1s;
//   animation-name: move-right;
// }
// @keyframes move-right {
//   from {
//     bottom: 250.65px;
//     left: 337.6px;
//     top: 17.42px;
//     right: 26.34px;

//     height: 123.93px !important;
//     width: 97.06px !important;
//   }
//   to {
//     right: 17px;
//     left: 636.65px;
//     top: 68px;
//     bottom: 343px;
//     width: 159px !important;
//     height: 191px !important;
//   }
// }

// .tile-move-left {
//   animation-duration: 1s;
//   animation-name: move-left;
// }

// @keyframes move-left {
//   from {
//     right: 17px;
//     left: 636.65px;
//     top: 68px;
//     bottom: 343px;
//     width: 159px !important;
//     height: 191px !important;
//   }
//   to {
//     bottom: 250.65px;
//     left: 337.6px;
//     top: 17.42px;
//     right: 26.34px;

//     height: 123.93px !important;
//     width: 97.06px !important;
//   }
// }

// .tile-right {
//   right: 17px;
//   left: 636.65px;
//   top: 68px;
//   bottom: 343px;
//   width: 159px !important;
//   height: 191px !important;
// }

// .tile-left {
//   bottom: 250.65px;
//   left: 337.6px;
//   top: 17.42px;
//   right: 26.34px;
//   height: 123.93px !important;
//   width: 97.06px !important;
// }

// .meeting-container-expand {
//   width: 832px;
//   height: 636px;
// }

// .meeting-container-expand .control-btns {
//   top: 57%;
// }

// #my-video {
//   -webkit-transform: translate3d(0, 0, 0);
// }
